@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/Open Sans Bold/OpenSansBold.eot');
    src: url('../fonts/Open Sans Bold/OpenSansBold.eot') format('embedded-opentype'),
    url('../fonts/Open Sans Bold/OpenSansBold.woff2') format('woff2'),
    url('../fonts/Open Sans Bold/OpenSansBold.woff') format('woff'),
    url('../fonts/Open Sans Bold/OpenSansBold.ttf') format('truetype'),
    url('../fonts/Open Sans Bold/OpenSansBold.svg#OpenSansBold') format('svg');
}
